html {
  background:#dadada;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:18px solid #fff;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow: -1px 1px 20px rgba(0,0,0,0.1), 0 0 1px 1px #d5d5d5 inset;
  background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover, #ececec 0%, #fff 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #ececec 0%,#fff 100%);
	background: radial-gradient(ellipse at center, #ececec 0%,#fff 100%);
}

.markers {
  display: block;
  width: 100%;
  height: 100%;
  background: url('watch-face.svg') no-repeat;
  background-size: 100%;
  background-position: center center;
}


.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-1%) translateX(-.25%);
  position: absolute;
  top: 0;
  left: 0;
}

.clock-face:after {
  content: '';
  display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top:50.25%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	background:#dd0000;
	border-radius: 14px;
	z-index: 100;
}

.hand {
  width:50%;
  height:6px;
  background:#555;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform:rotate(90deg);
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.hour-hand {
	width:30%;
	height: 8px;
	left:20.25%;
}

.minute-hand {
	width: 40%;
	left:10.25%;
}

.second-hand {
	box-shadow: 0 0 2px rgba(0,0,0,0.25);
	background:#dd0000;
	height: 4px;
  width: 46%;
  left: 4%;
}

.clock-face.canMove .hour-hand,
.clock-face.canMove .minute-hand {
  transition:all 60s ease;
}
